<!DOCTYPE html>
<!-- Code for the Webpage/UI Found at:
 https://www.w3schools.com/w3css/w3css_templates.asp 
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h 
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_photo3&stacked=h
-->

<html lang="en">
<head>
<title>egami</title> 
<link rel="egami icon" href="{{url_for('static', filename='egamilogo.png')}}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
@import url(w3.css);

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

</head>
<body>
<!-- NAV BAR -->
<div class="w3-top">
<div class="w3-bar w3-sand w3-card" id="myNavbar">
<a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button w3-wide w3-white">HOME</a>

<!-- Right-sided navbar links -->
<div class="w3-right w3-hide-small">
<a href="http://127.0.0.1:5000/albums" class="w3-bar-item w3-button">ALBUMS</a>
<a href="http://127.0.0.1:5000/addalbum" class="w3-bar-item w3-button">ADD ALBUM</a>
<a href="http://127.0.0.1:5000/getphotos" class="w3-bar-item w3-button">GET PHOTO</a>
<a href="http://127.0.0.1:5000/information" class="w3-bar-item w3-button">MANAGEMENT</a>
</div>
</div>
</div>
<!-- END OF NAV BAR -->

<!-- Header -->
<header class="w3-container w3-sand w3-center" style="padding:50px">
  <h1 class="w3-margin w3-jumbo">Already Existing Name!</h1>
    <IMG SRC="{{url_for('static', filename='sad.gif')}}">

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div>
      <h1>Important Notice!</h1>
      <h4 class="w3-padding-32">If you are reading this page, it means there is already a photo with the same name. Please try again!</h4>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
	<p>Project by GJC</p>
	
 </div>
</footer>

</body>
</html>